@import '../../base';
@import 'nsw-design-system/src/components/hero-banner/_hero-banner';

// Image on right
.nsw-hero-banner__box > div {
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

// Card
.hero-card {
  .nsw-hero-banner__container {
    @include breakpoint(sm, max-width) {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
  .nsw-hero-banner__wrapper {
    @include breakpoint(sm, max-width) {
      flex-direction: column-reverse;

      > div > img {
        display: block;
      }
    }
    @include breakpoint(sm) {
      > .contextual-region {
        position: static;
      }
      > div > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .nsw-hero-banner__content {
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
    @include breakpoint(md) {
      padding: 0;
    }
    @include breakpoint(sm) {
      padding: 2rem 1rem;
    }
  }
  .nsw-card {
    display: block;
    background-color: var(--nsw-grey-02);
    color: var(--nsw-text-light);
    height: auto;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-top: solid 6px var(--nsw-brand-accent);
    @include breakpoint(md) {
      max-width: 50%;
    }
    @include breakpoint(sm) {
      border-top: none;
      border-bottom: solid 6px var(--nsw-brand-accent);
    }

    &.hero-center {
      margin: 0 auto;
      text-align: center;
    }

    .nsw-material-icons {
      color: inherit;
      margin-top: 1rem;
      font-size: 1.875rem;
      position: static;
    }
  }
  a.nsw-card {
    padding: 2rem 2.5rem;
    &:hover {
      outline: none;
    }

    h1 {
      display: inline-block;
    }
  }
  &.hero-card-bg-white,
  &.hero-card-bg-1,
  &.hero-card-bg-4 {
    .nsw-card {
      color: var(--nsw-grey-light);

      .nsw-material-icons {
        color: var(--nsw-link);
      }
    }
  }

  &.hero-card-bg-black {
    .nsw-card {
      background-color: var(--nsw-black);
    }
  }

  &.hero-card-bg-white {
    .nsw-card {
      background-color: var(--nsw-white-80);
    }
  }
  &.hero-card-bg-1 {
    .nsw-card {
      background-color: var(--nsw-off-white);
    }
  }
  &.hero-card-bg-3 {
    .nsw-card {
      background-color: var(--nsw-brand-dark);
    }
  }
  &.hero-card-bg-4 {
    .nsw-card {
      background-color: var(--nsw-brand-light);
    }
  }
}

// Featured list
.featured-list .nsw-hero-banner__content {
  min-height: auto;
}

// Homepage banner
.homepage-banner .nsw-hero-banner__content {
  @include breakpoint(sm) {
    padding: 5.5rem;
    min-height: rem(330px);
  }
  @include breakpoint(md) {
    min-height: rem(660px);
  }
}

// Full width text
.full-width-text .nsw-hero-banner__content {
  width: 100%;
  max-width: none;
}

.hero-card-bg- {
  &1 {
    background-color: var(--nsw-palette-off-white);
  }
  &3,
  &brand-dark {
    background-color: var(--nsw-brand-dark);
    color: var(--nsw-white);
  }
  &4,
  &brand-light {
    background-color: var(--nsw-brand-light);
  }
  &black {
    background-color: var(--nsw-black);
    color: var(--nsw-white);
  }
}

.image-on-top {
  &.text-align-centre {
    text-align: center;
  }
  .hero-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    position: relative;
  }
  .nsw-hero-banner__wrapper {
    flex-direction: column-reverse;
    .nsw-hero-banner__content {
      padding: 1rem 0;
      min-height: auto;
      width: auto;
      max-width: 100%;
    }
  }
}
