@mixin flex-column {
  display: flex;
  flex-direction: column;
}

#map-root {
  box-sizing: border-box;
  height: 800px;
  @include flex-column;

  .app-container {
    box-sizing: border-box;
    @include flex-column;
    width: 100%;
    height: 100%;

    .select-view-tabs {
      display: none;

      @media (max-width: 62rem) {
        display: flex;
        justify-content: space-around;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 1;
          padding: 10px;
          background-color: #ffffff;
          border: 0;
          height: 48px;
          font-size: 16px;
          font-weight: 700;
          color: #22272b;

          span.tab-name {
            text-decoration: underline;
            padding-left: 5px;
          }

          &.active {
            border-bottom: 4px solid #d7153a;
          }

          &:not(.active) {
            box-shadow: 0 2px -2px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }

    .search-filter-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      background-color: #f5f5f5;

      @media (max-width: 62rem) {
        padding: 0;
      }
    }

    .map-list-container {
      display: flex;
      flex: 1;
      min-height: 0;

      .list-view-container {
        width: 452px;
        overflow-y: auto;
        position: relative;
        box-sizing: border-box;

        // @media (max-width: 1410px) {
        //   width: 45%;
        // }
      }

      .mapContainer {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        position: relative;

        .map {
          flex-grow: 1;

          .GMAMP-maps-pin-view div {
            position: relative;
          }

          .map-pin-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            max-width: none !important;
          }

          div[draggable="false"]:not([class]) {
            // Turn "Sorry, we have no imagery here" into just another ocean tile
            background-color: #dbdbdc;
            color: transparent;
            height: 100%;
          }
        }

        .list-view-alert {
          margin: 16px;
          border-radius: 4px;
          background-color: #fbeee5;
          padding: 20px;
          display: flex;
          height: auto;
          position: absolute;

          span {
            font-size: 30px;
            color: #c95000;
          }

          div {
            margin-left: 20px;
            p {
              margin: 0;
              padding: 0 0 10px 0;

              &.no-results {
                font-weight: 700;
              }
            }
          }
        }

        @media (min-width: 62rem) {
          .list-view-alert {
            display: none;
          }
        }
      }

      @media (max-width: 62rem) {
        flex-direction: column;

        .list-view-container,
        .mapContainer {
          display: none; // Hide both by default on mobile
        }

        .list-view-container {
          width: auto;
        }

        // Only the component with the active class will be displayed
        .active {
          display: flex;
        }
      }
    }
  }
}
