.map-legend {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);

  &.collapsed,
  &.expanded {
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
  }

  &.collapsed {
    width: 142px;
    height: 48px;
  }

  &.expanded {
    max-width: 280px;
    cursor: default;
  }

  button.legend-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    .legend-title {
      font-weight: bold;
      flex-grow: 1;
      text-align: center;
      color: #22272b;
    }

    .close-icon {
      font-size: 25px;
      margin-right: 10px;
      color: #22272b;
    }

    &.expanded {
      padding: 10px 0;
      width: 100%;

      .legend-title {
        text-align: left;
        margin-left: 10px;
      }

      .legend-icon {
        display: none;
      }
    }
  }

  .legend-contents {
    padding: 10px;
    max-height: 550px;
    overflow-y: auto;

    .legend-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .icon-circle {
        display: inline-flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 8px;
        overflow: hidden;

        .legend-icon {
          width: 60%;
          height: auto;
          filter: brightness(0) invert(1) saturate(0);
        }
      }

      .legend-description {
        overflow-wrap: break-word;
      }
    }
  }
}
