.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-width: 768px;
  max-height: 720px;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow-y: auto;
  overscroll-behavior: contain;

  .modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .modal-close-button {
      align-self: flex-end;
      position: absolute;
      padding: 0;
      margin: 0;
      border: 0;
      width: 32px;
      height: 32px;
      z-index: 20;
      cursor: pointer;
    }

    .modal-hero-image {
      .splide__arrow {
        background: rgba(255, 255, 255, 0.8);
        width: 32px;
        height: 68px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover:not(:disabled) {
          background: rgba(255, 255, 255, 0.9);
          opacity: 0.9;
        }

        svg {
          fill: #000;
          width: 24px;
          height: 24px;
        }
      }

      .splide__arrow--prev {
        border-radius: 0px 4px 4px 0px;
        left: 0;
      }

      .splide__arrow--next {
        border-radius: 4px 0px 0px 4px;
        right: 0;
      }

      .splide__arrow--next:not(:disabled),
      .splide__arrow--prev:not(:disabled) {
        opacity: 0.8;
      }

      .splide__pagination__page {
        background: #fff;
        border: 2px solid #000;
        border-radius: 50%;
        display: inline-block;
        height: 12px;
        margin: 3px;
        opacity: 0.8;
        padding: 0;
        position: relative;
        transition: transform 0.2s linear;
        width: 12px;
      }

      .splide__pagination__page.is-active {
        background: #fff;
        border-color: #000;
        transform: scale(1.5);
        z-index: 1;
      }

      img {
        width: 100%;
        height: 432px;
      }
    }

    .modal-details {
      display: flex;
      flex-direction: row;
      padding: 32px;
      height: 100%;
      align-items: stretch;
      justify-content: space-between;

      .modal-details-container {
        flex-basis: 35%;
        padding-right: 20px;
        border-right: 2px solid #ebebeb;

        .modal-title {
          font-size: 24px;
          font-weight: 700;
        }

        .modal-location {
          margin-top: 10px;
        }

        .modal-filter-term {
          display: flex;
          align-items: center;
          margin-top: 10px;

          img {
            width: 20px;
            margin-right: 5px;
            filter: brightness(0);
          }
        }

        .modal-field-container {
          .modal-field {
            font-size: 14px;
            margin-top: 10px;
          }

          .modal-field:first-child {
            margin-top: 15px;
          }
        }

        @media (min-width: 62rem) and (max-width: 75rem) {
          flex-basis: 40%;
        }
      }

      .modal-description-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding-left: 32px;

        .modal-cta {
          margin-top: auto;
          background-color: #002764;
          color: white;
          border: none;
          font-size: 16px;
          font-weight: 700;
          padding: 12px 24px;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;
        }

        .modal-cta:hover {
          background-color: darken(#002764, 25%);
        }
      }
    }
  }
}

@media (max-width: 84rem) {
  .Modal {
    width: 55vw;
    height: 75vh;

    .modal-content {
      .modal-hero-image img {
        height: auto;
        max-height: 35vh;
      }
    }
  }
}

@media (max-width: 62rem) {
  .Modal {
    width: 100vw;
    height: 100dvh;
    max-height: unset;
    max-width: unset;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    overscroll-behavior: contain;

    .modal-content {
      .modal-hero-image img {
        height: auto;
        max-height: 50vh;
      }

      .modal-details {
        flex-direction: column;
        padding: 16px;
        height: 100%;

        .modal-details-container,
        .modal-description-container {
          flex-basis: auto;
          padding-right: 0;
          border-right: none;
          padding-left: 0;
        }

        .modal-details-container {
          padding-bottom: 1rem;
          border-bottom: 1px solid #cdd3d6;
        }

        .modal-description-container {
          padding-top: 20px;
        }
      }
    }
  }
}

/* Landscape mode */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  .Modal {
    width: 40vw;
    height: 80vh;
    max-width: 600px;
    max-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    overscroll-behavior: contain;

    .modal-content {
      height: auto;
      overflow-y: auto;
      .modal-hero-image img {
        max-height: 45vh;
      }

      .modal-details {
        padding: 16px;

        .modal-description {
          padding-bottom: 20px;
        }
      }
    }
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* #333333 with 50% opacity */
  z-index: 210;
}

.ReactModal__Body--open {
  overflow: hidden;
  width: 100%;
}
