@import '../../base';

@import 'nsw-design-system/src/components/dialog/_dialog';

.cl--data-table {
  margin-top: 1.5rem !important;

  .dt-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .dt-length {
      margin-right: auto;
      margin-bottom: 1rem;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    .dt-search {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 1rem;
      margin: 0 6px;
      flex-grow: 1;

      > * {
        flex-basis: 100%;
      }

      @include media-breakpoint-up(md) {
        flex-basis: 60%;

        > * {
          flex-basis: calc((100% / 3) - 1rem);
        }
      }
      @include media-breakpoint-up(lg) {
        flex-grow: 0;
      }
    }

    > .dataTables_tableWrapper {
      margin-top: 2rem;
      flex-basis: 100%;
      overflow: auto;

      table {
        width: 100% !important;

        caption {
          padding-left: 0;
        }
      }

      th,
      td {
        vertical-align: middle;
      }

      .cl--button-none {
        border: 0;
        display: flex;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        cursor: pointer;
        position: relative;

        .material-icons {
          font-size: 2rem;
        }
      }

      .dt-orderable-asc::after {
        @include material-icons();
        content: '\e5d7';
        text-indent: 0;
        float: right;
      }

      .dt-ordering-asc::after {
        content: '\eacf';
      }

      .dt-ordering-desc::after {
        content: '\ead0';
      }
    }

    .dt-info {
      margin: 1rem 0;
      text-align: center;
      flex-grow: 1;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
        text-align: left;
      }
    }
    .dt-paging {
      flex-basis: 100%;
      display: flex;
      justify-content: center;

      @include media-breakpoint-up(md) {
        flex-basis: auto;
      }

      button {
        border: none;
        background: none;
        margin: 0 .25rem;
        position: relative;
        font-size: 1rem;
        font-weight: bold;
        width: 1.5rem;
        height: 2.25rem;
        position: relative;
        color: var(--nsw-text-link);
        cursor: pointer;

        &:hover {
          @include nsw-hover;
          outline-width: 0;

          .nsw-section--invert & {
            @include nsw-hover-light;
            outline-width: 0;
          }
        }

        &.disabled,
        &:only-child {
          display: none;
        }

        &.current::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: .25rem;
          right: .25rem;
          color: var(--nsw-text-dark);
          height: 2px;
          background-color: var(--nsw-brand-accent);
        }
      }

      .next,
      .previous {
        overflow: hidden;
        text-indent: -1000px;

        &::before,
        &::after {
          @include material-icons();
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          text-indent: 0;
          font-size: 1.5rem;
        }
      }
      .next::before {
        content: '\e409';
      }
      .previous::after {
        content: '\e408';
      }
    }
  }
}
