@import '../../base';

.video-image-teaser {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .teaser-background-image {
    > .contextual-region {
      position: static;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }
  }

  .card-sides {
    display: flex;
    flex-direction: column;

    @include breakpoint('md') {
      flex-direction: row;
      align-items: center;
      &.reverse {
        flex-direction: row-reverse;
      }

      > *:not(:only-child) {
        width: 50%;
      }
    }

    img {
      max-height: 385px;
      object-fit: cover;
      width: 2000px;
    }

    iframe {
      aspect-ratio: 16 / 9;
    }
  }
  .nsw-overflow-break {
    padding-top: 1rem;
    font-size: 20px;
    font-weight: 400;
  }

  > a,
  .card-sides > a {
    text-decoration: none;
    color: var(--nsw-text-dark);

    .cta {
      &.nsw-button {
        color: var(--nsw-text-light);

        &:hover {
          color: var(--nsw-text-dark);
        }
      }

      &:hover {
        background-color: var(--nsw-hover);
      }
    }
  }
}
