<div class="nsw-header__menu">
	<button type="button" class="js-open-nav" aria-expanded="false" aria-controls="main-nav">
		<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">menu</span>
		<span>
			<span class="sr-only">Open</span>
			Menu</span>
	</button>
</div>
