<div class="nsw-container">
  <h1>{{ sitemap_title }}</h1>
  <div class="sitemap">
    {% if message %}
      <div class="sitemap-message">
        {{ message }}
      </div>
    {% endif %}
    {% if sitemap_items %}
      {% for item in sitemap_items %}
        {{ item }}
      {% endfor %}
    {% endif %}
  </div>
</div>
