@import '../../base';

@import './card';

.event-note {
  background-color: var(--nsw-grey-event);
  color: var(--nsw-palette-white);
  position: absolute;
  top: .5rem;
  right: .5rem;
  border-radius: .25rem;
  font-size: .7rem;
  padding: .25rem;
  max-width: 4.25rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

  &.event-note--upcoming {
    background-color: var(--nsw-brand-accent);
  }

  .material-icons {
    font-size: .625rem;
    color: inherit;
    position: static;
  }
}

.cards .nsw-card:has(.material-icons.above) {
  &:hover .material-icons.above {
    background-color: var(--nsw-brand-dark);
  }
  .cardOuter {
    margin-top: -49px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .material-icons.above {
    position: relative;
    left: 0;
    top: 0;
    padding: 9.5px;
    background-color: var(--nsw-brand-light);
  }
  .nsw-card__content {
    width: 100%;
    border-top-right-radius: 0;
  }
  @media (min-width: 62rem) {
    padding-bottom: 107px;

    .cardOuter {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }
    .nsw-card__content {
      width: 268px;
      min-height: 176px;
      padding-bottom: 2rem;
    }
  }
}
