{{ attach_library('dphi_base_theme/component.in_page_navigation') }}
<section class="nsw-section">
  <nav class="anchorific nsw-in-page-nav nsw-container" aria-labelledby="in-page-nav">
    <div id="in-page-nav" class="nsw-in-page-nav__title">On this page</div>
  </nav>
</section>
