@import '../../base';

.node--type-publications {
  position: static;
  border-top: 1px solid var(--nsw-grey-04);
  h1 {
    margin: 2rem 0 1rem 0;
  }
  h2.subtitle {
    margin-top: 0;
  }
  .nsw-card__title a {
    color: var(--nsw-text-dark);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      display: none;
    }
  }
  .summary {
    margin-bottom: 1rem;
  }
  .nsw-card__copy {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .publication-details {
    display: flex;
    &.full {
      gap: 20px;
      flex-direction: column;
      @include breakpoint(md) {
        flex-direction: row;
      }

      .nsw-card__image img {
        width: 195px;
      }
    }
    .nsw-card__image {
      flex-shrink: 0;
      height: auto;
      img {
        width: 143px;
        height: 274px;
        border: 1px solid;

        @include breakpoint(sm) {
          width: 195px;
        }
      }
    }
    .nsw-card__content {
      border: none;
      padding: 20px;
      gap: 40px;
      flex-grow: 1;
    }
    .cols {
      display: flex;
      gap: 15px;
      flex-direction: column;
      @include breakpoint(md) {
        flex-direction: row;

        > div {
          width: 50%;
        }
      }
    }
    .left-col {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
    .nsw-meta .material-icons {
      margin-right: 5px;
    }
    .tags span {
      border: 1px solid var(--nsw-brand-dark);
      border-radius: 1.5rem;
      color: var(--nsw-brand-dark);
      display: inline-block;
      padding: .125rem 1rem;
      margin-top: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
