includes:
	- phpstan-baseline.neon
parameters:
  level: 5
  paths:
    - src
    - tests
  ignoreErrors:
    - '#Unsafe usage of new static#'
  reportUnmatchedIgnoredErrors: true
  checkMissingIterableValueType: false
