@import '../../base';

.paragraph--type--button-sets {
  .buttons {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    @include breakpoint(md) {
      display: flex;
      gap: 0.5rem;
      margin-top: 1rem;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 5rem;
      margin: 0.5rem 0;
      width: 100%;
    }
  }
}

.off-white-bg {
  background-color: var(--nsw-off-white);
}
