<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
{% include '@dphi_base_theme/components/component--promotional-panel.html.twig' with {promotional_panel: paragraph.getComponent()} %}
</section>

