<section class="nsw-section">
  <div class="nsw-container paragraph--type--accordion-item">
    <div class="nsw-accordion js-accordion">
      {% include '@dphi_base_theme/components/component--accordion-item.html.twig' with {accordionItem: paragraph.getComponent()} %}
    </div>
  </div>
</section>
