<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
  <div class="nsw-container">
    {% include '@dphi_base_theme/components/component--form-assembly-collaboration-form.html.twig' with {formAssembly: paragraph.getComponent()} %}
  </div>
</section>
