<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
  <div class="nsw-container paragraph--type--accordion">
    {% include '@dphi_base_theme/components/component--accordion.html.twig' with {accordion: paragraph.getComponent()} %}
  </div>
</section>
