<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
  {% include '@dphi_base_theme/components/component--gallery-map.html.twig' with {galleryMap: paragraph.getComponent()} %}
</section>
