{% set contentBlock = paragraph.getComponent() %}
<section class="nsw-section{{ contentBlock.use_background_color ? ' light_gray_background' : '' }} {{ paragraph.getPaddingControlClass() }}">
  <div class="nsw-container">
    {% include '@dphi_base_theme/components/component--content-block.html.twig' %}
  </div>
</section>
