<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
  <header class="nsw-container nsw-p-top-md nsw-p-bottom-sm">
    {% include '@dphi_base_theme/components/component--title-block.html.twig' with {titleBlock: paragraph.getComponent()} %}
  </header>
</section>
