<section class="nsw-section position-relative {{ paragraph.getPaddingControlClass() }}">
{% include '@dphi_base_theme/components/component--video-gallery.html.twig' with {videoGalleryData: paragraph.getVideoGalleryData()} %}
</section>
