<section class="nsw-section {{ paragraph.getPaddingControlClass() }}">
  <div class="nsw-container">
    {% include '@dphi_base_theme/components/component--spatial.html.twig' with {spatial: paragraph.getComponent()} %}
  </div>
</section>
