#paragraphs-stats-report .footer-total {
  font-weight: bold;
  background-color: #f5f5f5;
}
#paragraphs-stats-report .v-na {
  background-color: inherit;
}
#paragraphs-stats-report .v-zero {
  background-color: #ffaeaa;
}
#paragraphs-stats-report .v-0 {
  background-color: rgb(147, 196, 125);
}
#paragraphs-stats-report .v-1 {
  background-color: rgb(174, 211, 158);
}
#paragraphs-stats-report .v-2 {
  background-color: rgb(201, 226, 190);
}
#paragraphs-stats-report .v-3 {
  background-color: rgb(228, 241, 223);
}
#paragraphs-stats-report .v-4 {
  background-color: rgb(255, 255, 255);
}
