<div class="nsw-header__search">
	<button type="button" class="js-open-search" aria-expanded="false" aria-controls="header-search">
		<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span>
		<span>
			<span class="sr-only">Show</span>
			Search</span>
	</button>
</div>
