<div class="nsw-header__search-area js-search-area" id="header-search" hidden>
	<form role="search" action="/search">
		<label for="nsw-header-input" class="sr-only">Search site for:</label>
		<input class="nsw-header__input js-search-input" type="text" autocomplete="off" id="nsw-header-input" name="input-autocomplete">
		<button class="nsw-icon-button nsw-icon-button--flex" type="submit" aria-controls="header-search">
			<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">search</span>
			<span class="sr-only">Search</span>
		</button>
	</form>
	<button class="nsw-icon-button js-close-search" aria-expanded="true" aria-controls="header-search">
		<span class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">close</span>
		<span class="sr-only">Close search</span>
	</button>
</div>
