/*

This file allows you to configure/override any values that are set in the standard DDS typography themes.

Font size, font family, and breakpoint-based font sizing are all available to be changed.

Note: these are going to be global changes. For a change that is localized to a single component, you will need to modify that component's individual .scss file.

*/

$font-family: 'Public Sans', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$font-normal: 400;
$font-bold: 700;

$font-size-xxs-mobile: 0.75rem;
$font-size-xxs-desktop: 0.75rem;
$line-height-xxs-mobile: 1.5;
$line-height-xxs-desktop: 1.5;

$font-size-xs-mobile: 0.875rem;
$font-size-xs-desktop: 0.875rem;
$line-height-xs-mobile: 1.35;
$line-height-xs-desktop: 1.35;

$font-size-sm-mobile: 1rem;
$font-size-sm-desktop: 1rem;
$line-height-sm-mobile: 1.5;
$line-height-sm-desktop: 1.5;

$font-size-md-mobile: 1.125rem;
$font-size-md-desktop: 1.25rem;
$line-height-md-mobile: 1.33;
$line-height-md-desktop: 1.4;

$font-size-lg-mobile: 1.375rem;
$font-size-lg-desktop: 1.5rem;
$line-height-lg-mobile: 1.25;
$line-height-lg-desktop: 1.33;

$font-size-xl-mobile: 1.75rem;
$font-size-xl-desktop: 2rem;
$line-height-xl-mobile: 1.25;
$line-height-xl-desktop: 1.25;

$font-size-xxl-mobile: 2.25rem;
$font-size-xxl-desktop: 3rem;
$line-height-xxl-mobile: 1.25;
$line-height-xxl-desktop: 1.25;

  /* Borders */
$border-width: 1px;
$border-style: solid;
$border-color: var(--nsw-brand-accent);
$border-radius: 0.25rem;

  /* Shadows */
$box-shadow: 0 0.25rem 0.75rem 0 rgba(var(--nsw-black-rgb), 0.15);

  /* Maximum width of container */
$container-width: 75rem;
